---
BasedOnStyle: Mozilla
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
KeepEmptyLinesAtTheStartOfBlocks: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
BinPackParameters: false
BreakStringLiterals: false
ColumnLimit: 0
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
IndentWidth: 2
Language: Cpp
NamespaceIndentation: All
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
Standard: Auto
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
InsertTrailingCommas: Wrapped
PackConstructorInitializers: NextLine
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
AlignEscapedNewlines: Right
Cpp11BracedListStyle: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
...
